<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @article.heading %>
</p>

<p>
  <strong>Story:</strong>
  <%= @article.story %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @article.publish_date %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Image:</strong>
  <%= @article.image %>
</p>


<%= link_to 'Back', articles_path %>
